# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

dev:
  APP_NAME: serverless-s3-dev
  INCOMING_BUCKET_NAME: ksi-sls-s3-incoming-dev
  PROCESSED_BUCKET_NAME: ksi-sls-s3-processed-dev
  TOPIC_NAME: ksi-sls-sns-s3-topic-dev
  TOPIC_DISPLAY_NAME: "Just write here anything you want (dev)"
  TOPIC_SUBSCRIPTION_ENDPOINT_EMAIL: "your_dev@email.com"

prod:
  APP_NAME: serverless-s3
  INCOMING_BUCKET_NAME: ksi-sls-s3-incoming-prod
  PROCESSED_BUCKET_NAME: ksi-sls-s3-processed-prod
  TOPIC_NAME: ksi-sls-sns-s3-topic-prod
  TOPIC_DISPLAY_NAME: "Just write here anything you want (production)"
  TOPIC_SUBSCRIPTION_ENDPOINT_EMAIL: "your_product@email.com"
